* {
    margin:0;
    padding:0;
    border: 0;
}

a { color: black; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;  
  height: 100%;

  font-size: 1em; 
  font-family: "PT Sans", Verdana, sans-serif;
}

div.wrapper  {
  width: 100%;
  height: 100%;

  text-align: center;
}

div.content  {
  text-align: left;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 1em;
}

.me {
    float: left;
    margin: 1.5em;
    margin-top: 0.6em;
    margin-left: 0;
    width: 400px;
    height: 267px;

    background: url(images/me.jpg);
}

.name {
    font-size: 3em;
}

.keywords {
    margin-top: 1.7em;
    color: #555;
    font-size: 0.87em;    
}

.role {
    font-size: 1em;
}

.keywords span {
    margin-right: 0.5em;
    white-space: nowrap;
}

.about {
    margin-top: 1em;
    font-size: 1.7em;
    color: #111;
}

.about {
    line-height: 1.4em;
}

.social_networks {
    list-style: none;
    margin-top: 30px;
}

.social_networks li {
    display: inline-block;
    margin-right: 111px;
}

.social_networks li a {
    text-decoration: none;
    font-size: 1.5em;
    color: #000;
}

.social_networks li a:hover {
    text-decoration: underline;
}

.social_networks .skype {
    background: url(images/skype.png) top left no-repeat;
    padding-left: 60px;
    line-height: 48px;
}

.social_networks .gmail {
    background: url(images/gmail.png) top left no-repeat;    
    padding-left: 60px;
    line-height: 64px;
}


.social_networks .facebook {
    background: url(images/facebook.png) top left no-repeat;    
    padding-left: 60px;
    line-height: 48px;
    margin-right: 0;
}

.work_history {
    margin-top: 2em;
    font-size: 1.5em;
}

.work_history .subor {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.work_history .work {
    margin-top: 2em;
}

.work_history .work .text {
    margin-top: 0.5em;
}

.projects { margin-top: 4em; }

.projects h2 { font-size: 2em; }

.project h3 { font-size: 1.5em; }
.project .small {
    margin-top: 0.5em;
}

.projects .project {
    margin-top: 4em;
}

.project .images {
    margin-top: 1em;
    width: 979px;
}

.project .text {
    margin-top: 2em;
    font-size: 1.3em;
}

.project .text p {
    margin-top: 1.5em;
}

.project .stats {
    list-style: none;
    padding-left: 2em;
    margin-top: 0.5em;
    line-height: 1.5em;
}

.footer {
    margin-top: 4em;
    font-size: 1.3em;

    padding-bottom: 3em;
}
